Source: baloo5
Priority: extra
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               dbus-x11,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 0.0.14),
               libkf5idletime-dev (>= 4.100.0),
               libkf5kcmutils-dev (>= 4.100.0),
               libkf5kdelibs4support-dev (>= 4.100.0),
               libkf5runner-dev (>= 4.100.0),
               libkfilemetadata5-dev (>= 4.97.0),
               libxapian-dev,
               pkg-kde-tools,
               plasma-framework-dev (>= 4.100.0),
               qtbase5-dev
Standards-Version: 3.9.5
Section: kde
Homepage: https://projects.kde.org/projects/kde/kdelibs/baloo

Package: baloo-kf5-dev
Section: devel
Architecture: any
Depends: baloo-kf5 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Conflicts: baloo-dev, baloo-kf5-dev (<= 4:4.97.0-0ubuntu1~ubuntu14.10~ppa5)
Replaces: baloo-kf5-dev (<= 4:4.97.0-0ubuntu1~ubuntu14.10~ppa5)
Description: framework for searching and managing metadata devel files
 A framework for searching and managing metadata in KDE Software.
 .
 Baloo is part of the KDE Plasma desktop.
 .
 This package contains the development files.

Package: baloo-kf5
Section: utils
Architecture: any
Depends: baloo-kf5-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: baloo, baloo-kf5 (<= 4:4.97.0-0ubuntu1~ubuntu14.10~ppa5)
Replaces: baloo-kf5 (<= 4:4.97.0-0ubuntu1~ubuntu14.10~ppa5)
Recommends: baloo-kf5-plugins (= ${binary:Version})
Description: framework for searching and managing metadata
 A framework for searching and managing metadata in KDE Software.
 .
 Baloo is part of the KDE Plasma desktop.

Package: baloo-kf5-plugins
Section: utils
Architecture: any
Depends: baloo-kf5 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Conflicts: baloo-kf5-plugins (<= 4:4.97.0-0ubuntu1~ubuntu14.10~ppa5)
Replaces: baloo-kf5-plugins (<= 4:4.97.0-0ubuntu1~ubuntu14.10~ppa5)
Description: framework for searching and managing metadata plugins
 A framework for searching and managing metadata in KDE Software.
 .
 Baloo is part of the KDE Plasma desktop.

Package: baloo-kf5-data
Section: utils
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: baloo, baloo-kf5-data (<= 4:4.97.0-0ubuntu1~ubuntu14.10~ppa5)
Replaces: baloo-kf5-data (<= 4:4.97.0-0ubuntu1~ubuntu14.10~ppa5)
Description: framework for searching and managing metadata data files
 A framework for searching and managing metadata in KDE Software.
 .
 Baloo is part of the KDE Plasma desktop.

Package: libkf5baloocore5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: framework for searching and managing metadata core lib.
 A framework for searching and managing metadata in KDE Software.
 .
 Baloo is part of the KDE Plasma desktop.

Package: libkf5baloofiles5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: framework for searching and managing metadata plugins
 A framework for searching and managing metadata in KDE Software.
 .
 Baloo is part of the KDE Plasma desktop.

Package: libkf5balooxapian5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: framework for searching and managing metadata plugins
 A framework for searching and managing metadata in KDE Software.
 .
 Baloo is part of the KDE Plasma desktop.

Package: baloo-kf5-dbg
Section: debug
Architecture: any
Recommends: qtbase5-dbg
Depends: baloo-kf5 (= ${binary:Version}), ${misc:Depends}
Description: framework for searching and managing metadata
 A framework for searching and managing metadata in KDE Software.
 .
 Baloo is part of the KDE Plasma desktop.
 .
 This package contains the debugging symbols.
